@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --app-background: #f8f8f8;
    --sidemenu-width: 240px;
    --navbar-height: 58px;
    --font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::v-global {
    font-family: 'Poppins', Arial, sans-serif;
}

html, body, #app, .main { height: 100% }

body {
    margin: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    /*background-color: var(--app-background);*/
    background-color: var(--surface-ground);
}
a {
    color: unset;
    text-decoration: unset;
}

.input-container {
    position: relative;
    margin-bottom: 12px;
}
.input-container small {
    position: absolute;
    left: 15px;
    bottom: -20px;
}

#login-loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eff3f8;
    margin-top: 80px;
}
#login-loading .p-progress-spinner {
    width: 50px;
    height: 50px;
}

.router-link-active {}
#sidemenu a {
    display: block;
    padding: 8px 24px;
    margin: 0 12px;
    border-radius: 32px;
}
#sidemenu a:hover {
    background: #eaeaea;
}
#sidemenu .router-link-active {
    color: #fff;
    background: var(--primary-color) !important;
}
.sidemenu-close {
    transform: translateX(calc(var(--sidemenu-width) * -1));
}
.sidemenu-open-background {
    display: none;
}

#app, .p-component {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.navbar {
    position: fixed;
    /*display: flex;*/
    /*align-items: center;*/
    padding: 0 12px;
    z-index: 1;
    background: var(--primary-color);
    color: #fff;
    height: var(--navbar-height);
    left: 0;
    right: 0;
    transition: .3s ease;
}
.navbar-mobile {
    left: 0;
}

#sidemenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidemenu-width);
    background: #fff;
    transition: .3s ease;
}
#sidemenu .p-menu {
    border-radius: 0;
    border: unset;
}
.main {
    padding-top: var(--navbar-height);
    transition: .3s ease;
}
.main-mobile {
    padding-left: unset;
}

.cover, .cover img { object-fit: cover; }
.contain, .contain img { object-fit: contain; }
.container { padding: 1rem 2rem; }
.p-menubar { border-radius: 0 !important; }
.p-sidebar-left { width: 220px; }
/*.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) { background: #f0f0f0 !important; }*/
.shadow, .p-button-raised, .p-card { box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important; }
.p-inputtext { width: 100% !important; }

.p-dialog-content {
    padding: 0 !important;
}
.dialog-header {
    background: var(--primary-color);
    /*background: #f5f5f5;*/
    color: #fff
}
.error-dialog-header {
    background: #f5f5f5;
    color: #000
}
.text-red { color: red }
.font-bolder { font-weight: 700; }
.table-actions button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    cursor: pointer;
}
.table-actions button:not(:last-child) {
    margin-right: 5px;
}
/*.p-datatable .p-datatable-thead > tr > th*/
.p-datatable .p-datatable-tbody > tr > td {
    padding: 8px 12px;
}
.p-inputtext {
    color: black !important;
    padding: 0.5rem 0.75rem;
}
.p-button {
    padding: 0.5rem 1.25rem !important;
}
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label {
    top: 0.15rem;
    font-size: 12px;
    left: 12px;
    background: white;
    padding: 0 3px;
}
.p-paginator .p-dropdown {
    height: unset;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #f1f1f1;
    border-radius: 50%;
}
#user .p-card .p-card-title {
    font-weight: unset;
}

/*------------------------------------------*/

@keyframes background-fade {
    from {
        background: rgba(0,0,0,0.4);
        z-index: 3;
    }
    to {
        background: rgba(0,0,0,0);
        z-index: -1;
    }
}

/*------------------------------------------*/
@media only screen and (max-width: 900px) {
    .main {
        padding-left: 0;
    }
    .navbar {
        left: 0;
    }
    #sidemenu {
        /*transform: translateX(calc(var(--sidemenu-width) * -1));*/
        z-index: 3;
    }
    .sidemenu-open-background {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        z-index: 3;
    }
    .background-fade {
        animation: background-fade .2s forwards;
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem 1rem;
    }
}

@keyframes background-fade {
    from {
        background: rgba(0,0,0,0.4);
    }
    to {
        background: rgba(0,0,0,0);
        display: none;
    }
}
